In [7]:
import pandas as pd
PATH = '/Users/jeanbizot/Documents/projets/PERSO/servier/servier/data/'

In [11]:
file_path = PATH + 'dataset_single.csv'
file_path_multi = PATH + 'dataset_multi.csv'

In [12]:
df = pd.read_csv(file_path)
df2 = pd.read_csv(file_path_multi)

In [13]:
df2.head()

,P2,P1,P3,P4,P5,P6,P7,P8,P9,mol_id,smiles
0,1,1,1,1,1,1,1,0,1,CID2999678,Cc1cccc(N2CCN(C(=O)C34CC5CC(CC(C5)C3)C4)CC2)c1C
1,0,0,1,1,0,0,0,1,1,CID2999679,Cn1ccnc1SCC(=O)Nc1ccc(Oc2ccccc2)cc1
2,1,1,0,1,1,1,1,1,1,CID2999672,COc1cc2c(cc1NC(=O)CN1C(=O)NC3(CCc4ccccc43)C1=O...
3,1,0,0,1,1,0,1,1,1,CID5390002,O=C1/C(=C/NC2CCS(=O)(=O)C2)c2ccccc2C(=O)N1c1cc...
4,0,1,1,1,0,1,0,0,1,CID2999670,NC(=O)NC(Cc1ccccc1)C(=O)O